.App {
  /* text-align: center; */
}

.custom-input {
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  border: none;
  transition: border-color 0.3s; /* Add transition for smoother focus effect */
}

/* Change border color on focus */
.custom-input:focus {
  border-color: blue !important;
}
